body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1, nav, figure {
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: goldenrod;
}

figcaption {
  font-size: small;
}
#featured-property p {
  text-align: center;
  width: 800px;
  padding-bottom: 20px;
  margin: auto;
}
#details div {
  float: left;
  background-color: orange;
  text-align: center;
  width: 25%;
}


